*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


                                        /* MEDIA BAR */
.cfbg{
    background-color: rgb(24, 24, 24);
}

/* social icon */
.mylink{
    position: relative;
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin: 5px;
    margin-top: 10px;
    text-align: center;
    
    
}

.mycenter{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.google-plus {
    background-color: tomato;
    color: white;
   
  }
 
.twitter {
    background-color: #00ACEE;
    color: white;
    
  }
  
.facebook {
    background-color: #3B5998;
    color: white;
   
  }


.google-plus:hover{
    background-color: white;
    color: tomato;
    box-shadow: 0 0 3pt 2pt tomato;
}

.twitter:hover{
    background-color: white;
    color: #00ACEE;
    box-shadow: 0 0 3pt 2pt #00ACEE;
}

.facebook:hover{
    background-color: white;
    color: #3B5998;
    box-shadow: 0 0 3pt 2pt #3B5998;
    
}

/* telephone */
.green-color{
    color:rgb(141,199,61) ;
}
.white-color{
    color: whitesmoke !important;
}
.media-bar-button{
    background-color:rgb(141,199,61) ; 
    border:none;
    height: 30px;
    font-size: 12px;
    width: 100px;
    margin-top: 10px;
    border-radius: 2px;
}
                                        /* MEDIA BAR */
    

                                        /* NAVBAR */

.nav-item::after{content:'';display:block;width:0px;height:2px;background:#fec400;transition: 0.2s;}
.nav-item:hover::after{width:100%;}

                                        /* NAVBAR */


                                        /* WE ARE EXPERTS */
.my-background{
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 400px;
    
}

.we-are-experts-button{
    border: none;
    background-color: rgb(250, 181, 53);
    height: 35px;
    width: 85px;
    cursor: pointer;
    border-radius: 2px;
}
                                        /* WE ARE EXPERTS */


                                        /* OUR ADVANTAGES */
.our-advantages{
    margin-top: 35px;
}
.our-advantages-circle{
    height: 100px;
    width: 100px;
    background-color: rgb(238, 228, 228);
    padding:20px 0px
}
                                        /* OUR ADVANTAGES */


/* ABOUT US */


/* ABOUT US */













/* RANDOM CLASS for testing */
.colorcheck{
    background-color: blue;
}
/* RANDOM CLASS for testing */